
LogIO/.vs/LogIO/v15/.suo
LogIO/.vs/LogIO/v15/Server/sqlite3/db.lock
LogIO/.vs/LogIO/v15/Server/sqlite3/storage.ide
LogIO/.vs/LogIO/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
LogIO/LogIO/bin/Debug/LogIO.dll
LogIO/LogIO/bin/Debug/LogIO.pdb
LogIO/LogIO/bin/Release/LogIO.dll
LogIO/LogIO/bin/Release/LogIO.pdb
LogIO/LogIO/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
LogIO/LogIO/obj/Debug/LogIO.csproj.CoreCompileInputs.cache
LogIO/LogIO/obj/Debug/LogIO.csproj.FileListAbsolute.txt
LogIO/LogIO/obj/Debug/LogIO.csproj.GenerateResource.cache
LogIO/LogIO/obj/Debug/LogIO.csprojAssemblyReference.cache
LogIO/LogIO/obj/Debug/LogIO.dll
LogIO/LogIO/obj/Debug/LogIO.FmLogViewer.resources
LogIO/LogIO/obj/Debug/LogIO.pdb
LogIO/LogIO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LogIO/LogIO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LogIO/LogIO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LogIO/LogIO/obj/Release/LogIO.csproj.CoreCompileInputs.cache
LogIO/LogIO/obj/Release/LogIO.csproj.FileListAbsolute.txt
LogIO/LogIO/obj/Release/LogIO.csproj.GenerateResource.cache
LogIO/LogIO/obj/Release/LogIO.csprojAssemblyReference.cache
LogIO/LogIO/obj/Release/LogIO.dll
LogIO/LogIO/obj/Release/LogIO.FmLogViewer.resources
LogIO/LogIO/obj/Release/LogIO.pdb
LogIO/LogIO/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LogIO/LogIO/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LogIO/LogIO/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
